body{
    background-color: #393f4d;
    margin: 0;
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    border: 10px solid #393f4d;
    border-radius: 6px;
   
    ;
}


.container >*{
    padding: 30px;
    border: 10px solid #393f4d;
    border-radius: 4px;
   
}


header{
    grid-column: 1/4;
    background-color: #006157;
}


nav{
   grid-column: 2/4;
   grid-row: 2/3;
   background-color: #642cde;

}


aside{
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: #005B94;
}


article{
    grid-column: 2/4;
    grid-row: 3/5;
    background-color: #eee;
}


footer{
    grid-column: 1/4;
    background-color: #393f4d;
}